body {
  font-family: "Times New Roman", Times, serif;
  color: black;
  margin: 40px;
  line-height: 1.5;
}

.header {
  margin-bottom: 16px;
}

.contact {
  font-size: 14px;
}

hr {
  margin: 10px 0 12px 0;
}

.section {
  margin-top: 20px;
}

.section-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 6px;
}

.section-content {
  margin-left: 8px;
}

ul {
  margin-top: 6px;
  margin-left: 20px;
}

li {
  margin-bottom: 6px;
}
