body {
    background: #473A51;
    color: #D5C6E0;
    font-family: Playfair Display, serif; 
    width: 700px;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}
 

 div {
    margin: 50px; 
 }

  

  
